

footer{
    background-color: black;
    color: #fff;
    padding-bottom: 60px;
}
.above_foot{
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
}
.left_footer input{
    padding: 8px 50px;
    margin-top: 40px;
    outline: none;
}
.left_footer button{
    padding: 8px 35px;
    margin-left: 10px;
    background-color: black;
    color: #FFFFFF;
    outline: none;
    border-radius: 4px;
}
.left_footer p{
    margin-top: 10px;
}
.right_footer p{
    margin-top: 10px;
}
.right_footer h3{
    margin: 20px 0px;
}
.horizontal_line{
    margin: auto;
    margin-top: -30px;
    width: 86%;
}
.below_foot{
    display: flex;
    padding: 30px 100px;
    justify-content: space-between;
}
.foot_imgages{
    font-size: 1px;
}

.foot1 p{
    margin-top: 10px;
}
.foot2 p{
    margin-top: 10px;
}

.pay_logo{
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.foot_images{
    width: 43px;
}
.pay_logo img{
    padding: 0px 4px;
}

.icons{
    display: flex;
    align-items: center;
    margin: 8px 0px 20px 0px;
}
.foot_end{
    text-align: center;
    margin-top: 40px;
}

.call{
    display: none;
}
.ght{
    display: none;
}
.uyt{
    display: none;
}

.srr{
    display: none;  
}


/* <------------media query----------> */
@media only screen and (max-width:1186px){
    .above_foot{
        display: flex;
        flex-direction: column;
        padding: 0px 10px;
        margin: 0px;
    }
    .icons{
        display: none;
    }
    .right_footer{
        margin-top: 30px;
    }
    .below_foot{
        display: flex;
        flex-direction: column;
        padding: 0px 10px;
        margin: 0px;

    }
    .foot1, .foot2, .foot3{
        margin-top: 40px;
    }
    .left_footer button{
        margin-top: 20px;
    }
    .horizontal_line{
        margin-top: 30px;
    }

}

@media only screen and (max-width:424px){
    .below_foot p{
        display: none;
    }
    .right_footer h4{
        display: none;
    }
    .call{
        display: flex !important;
        margin-bottom: 7px;
    }
    .ght{
        display: block;
    }
    .fdh{
        display: none;
    }
    .horizontal_line{
        display: none;
    }
    .uyt{
        display: block;
    }
    .srr{
        float: right;
        font-size: 30px;
        color: #fff;
        display: block;
    }

}